<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage IP Pool</title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="wrapper">
        <aside id="sidebar">
            <div class="d-flex">
                <button class="toggle-btn" type="button">
                    <i class="lni lni-grid-alt"></i>
                </button>
                <div class="sidebar-logo">
                    <a href="#">DevBar</a>
                </div>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a href="/" class="sidebar-link">
                        <i class="lni lni-agenda"></i>
                        <span>Bridge</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/port" class="sidebar-link">
                        <i class="lni lni-agenda"></i>
                        <span>Bridge Ports</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/ip" class="sidebar-link">
                        <i class="lni lni-agenda"></i>
                        <span>IP Addresses</span>
                    </a>
                </li>
                <li class="sidebar-item"></li>
                    <a href="/pool" class="sidebar-link">
                        <i class="lni lni-agenda"></i>
                        <span>IP Pool</span>
                    </a>
                </li>
                
            </ul>
            <div class="sidebar-footer">
                <a href="#" class="sidebar-link">
                    <span>Mikrotik REST API</span>
                </a>
            </div>
        </aside>
        <div class="main p-3">
            <div class="container mt-4">
                <h1 class="text-center">Manage Mikrotik IP Pool</h1>
                <h3 class="mt-5">Add IP Pool</h3>
                <form id="addIpPoolForm">
                    <!-- Pool Name Input -->
                    <div class="mb-3">
                        <label for="poolName" class="form-label">Pool Name</label>
                        <input type="text" class="form-control" id="poolName" placeholder="Enter Pool Name" required>
                    </div>

                    <!-- IP Address Input -->
                    <div class="mb-3">
                        <label for="ipAddress" class="form-label">IP Addresses</label>
                        <input type="text" class="form-control" id="ipPool" placeholder="Enter IP Addresses" required>
                    </div>

                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary">Add IP Pool</button>
                </form>

                <h3 class="mt-5">Existing IP Pools</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Pool Name</th>
                            <th>Range Addresses</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pool in ip_pools %}
                        <tr>
                            <td>{{ pool[".id"] }}</td>
                            <td>{{ pool["name"] }}</td>
                            <td>{{ pool["ranges"] }}</td>
                            <td>
                                <button class="btn btn-info btn-sm detail-ip-pool-btn" data-id="{{ pool['.id'] }}">Detail</button>
                                <button class="btn btn-warning btn-sm edit-ip-pool-btn" data-id="{{ pool['.id'] }}">Edit</button>
                                <button class="btn btn-danger btn-sm delete-ip-pool-btn" data-id="{{ pool['.id'] }}">Delete</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal for IP Pool Details -->
    <div class="modal fade" id="ipPoolDetailModal" tabindex="-1" aria-labelledby="ipPoolDetailModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ipPoolDetailModalLabel">IP Pool Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul id="ipPoolDetailsList" class="list-group">
                        <!-- IP Pool details will appear here -->
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/ip_pool.js') }}"></script>
</body>

</html>
